body{
    background-color: yellow
}




   .lista{ background-color:rgb(152, 251, 243)
}

.lis{ background-color:blanchedalmond ;

}

.or{background-color: blanchedalmond;

}

.for{ background-color: blanchedalmond;


}

.fi { background-color: blanchedalmond;

}

.bo{ background-color: blanchedalmond;
}

h1 {
border: 2px solid blak;
border-radius:  10px;
padding:  10px

}

 h2 {
    
    padding-left:  10px;

}

ul,ol,dl {

    border:2px solid gray;
    border-radius:  10px;
    padding:  15px;
    width: 300px;
    background-color: white;


}


body {

    background-color:snow;



}
   .lia {

    
background-color: #700962;

}
